body {
  margin: 0;
  min-height: 100vh;

  display: grid;
  grid-template-columns: 0.1fr 0.1fr 4fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header header"
    "nav    main   aside";
}

/* Grid-Zuordnung */
header {
  grid-area: header;
  	border: thin solid;
  border-color: #d5d5d5;
  background: #bfecb900;
  color: rgb(106, 131, 243);
  padding: 1rem;
}

nav {
  grid-area: nav;
  background: #cccccc00;
  	border: thin solid;
  border-color: #d5d5d5;
}

main {
  grid-area: main;
  background: #eeeeee00;
		border: thin solid;	
  border-color: #d5d5d5;
}

aside {
 display: grid;	
  /*grid-area: aside;*/
	/*border: thin solid;*/
	/*border-color: #e74f4f;*/

  grid-template-columns: 1.0fr 0.5fr 0.5fr 1fr 0.5fr 0.5fr;
		grid-template-rows: auto 1fr min-content;
  gap: 0.5rem;
}
.spalte {
  background: #f4f4f400;
  border: thin solid;
  border-color: #e96868;
  padding: 0.5rem;
}
#spalte1	 {

  background: #f4f4f400;

}
#spalte2	 {

  background: #f4f4f400;
 
}








/* 1️⃣ Seitenlayout */
@media (max-width: 900px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "aside";
  }
}
 
